%common-font {
  font-family: Ciutadella, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.58;
  letter-spacing: normal;
}

$tablet: 720px;
$laptop: 1024px;
$laptopL: 1440px;

$card-width: 283px;
$card-height: 150px;

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media screen and(min-width: $tablet) {
    .card-box:last-child {
      margin-right: 0;
    }
  }

  @media screen and(min-width: $laptop) {
    .card-box:nth-child(3n) {
      margin-right: 0;
    }
  }
}

header {
  @media screen and(min-width: $tablet) {
    padding: 0 75px;
  }

  @media screen and(min-width: $laptop) {
    padding: 0 60px;
  }
}

.is-contained {
  max-width: 1024px;
  margin: 0 auto;
}

#electronics {
  background-image: url(./assets/images/electronics.png);
}

#travel {
  background-image: url(./assets/images/travel.png);
}

#homeware {
  background-image: url(./assets/images/homeware.png);
}

#home-appliances {
  background-image: url(./assets/images/homeappliances.png);
}

#outdoor {
  background-image: url(./assets/images/outdoor.png);
}

#sports-fitness {
  background-image: url(./assets/images/sportsfitness.png);
}

#fashion {
  background-image: url(./assets/images/fashion.png);
}

#health-beauty {
  background-image: url(./assets/images/healthbeauty.png);
}

#toys-kids {
  background-image: url(./assets/images/toyskids.png);
}

.card-box {
  background: #fff;
  position: relative;
  width: 100%;

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(#323232, 0.5);
  }

  &:focus {
    box-shadow: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    max-width: $card-width;
    height: $card-height;
    background-size: cover;
    background-position: center;
    margin-right: 27px;
    margin-bottom: 27px;
    border-radius: 4px;

  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    background: #fff;
    width: 100%;
    height: 100%;

    @media screen and(min-width: $tablet) {
      background: rgba(#323232, 0.5);
      border-radius: 4px;

    }
  }
}

.card-container-title {
  @extend %common-font;
  padding: 29px 0 29px;
  display: flex;

  @media screen and(min-width: $tablet) {
    display: flex;
  }

  h2 {
    font-size: 35px;

    @media screen and(min-width: $tablet) {
      padding-left: 0;
    }
  }
}

.card-content {
  @extend %common-font;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media screen and(min-width: $tablet) {
    text-align: center;
    justify-content: center;
    color: #fff;
    width: $card-width;
    margin: 0 auto;
  }
}

.arrow-icon {
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.card-title {
  margin: 0;
  color: #323232;
  font-size: 19px;

  @media screen and(min-width: $tablet) {
    font-size: 30px;
    color: #fff;
  }
}

.line {
  width: 100%;
  height: 2px;
  opacity: 0.4;
  border: solid 1px #979797;

  @media screen and(min-width: $tablet) {
    display: none;
  }
}