.card-container-title, .card-content {
  font-family: Ciutadella;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.58;
  letter-spacing: normal; }

.container-fluid {
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 720px) {
    .container-fluid {
      margin: 0 auto; } }

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 720px) {
    .row .card-box:last-child {
      margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .row .card-box:nth-child(3n) {
      margin-right: 0; } }

@media screen and (min-width: 720px) {
  header {
    padding: 0 75px; } }
@media screen and (min-width: 1024px) {
  header {
    padding: 0 60px; } }

.is-contained {
  max-width: 1024px;
  margin: 0 auto; }

#electronics {
  background-image: url(./assets/images/electronics.png); }

#travel {
  background-image: url(./assets/images/travel.png); }

#homeware {
  background-image: url(./assets/images/homeware.png); }

#home-appliances {
  background-image: url(./assets/images/homeappliances.png); }

#outdoor {
  background-image: url(./assets/images/outdoor.png); }

#sports-fitness {
  background-image: url(./assets/images/sportsfitness.png); }

#fashion {
  background-image: url(./assets/images/fashion.png); }

#health-beauty {
  background-image: url(./assets/images/healthbeauty.png); }

#toys-kids {
  background-image: url(./assets/images/toyskids.png); }

.card-box {
  background: #fff;
  position: relative;
  width: 100%; }
  .card-box:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.5); }
  .card-box:focus {
    box-shadow: none; }
  @media screen and (min-width: 720px) {
    .card-box {
      display: flex;
      max-width: 283px;
      height: 150px;
      text-align: center;
      align-self: center;
      padding: 0 15px;
      background-size: cover;
      background-position: center;
      margin-right: 27px;
      margin-bottom: 27px; } }
  .card-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    background: #fff;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 720px) {
      .card-box::before {
        background: rgba(50, 50, 50, 0.5); } }

.card-container-title {
  padding: 29px 0 29px;
  display: flex; }
  @media screen and (min-width: 720px) {
    .card-container-title {
      display: flex; } }
  .card-container-title h2 {
    font-size: 30px; }
    @media screen and (min-width: 720px) {
      .card-container-title h2 {
        padding-left: 0; } }

.card-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  @media screen and (min-width: 720px) {
    .card-content {
      text-align: center;
      justify-content: center;
      color: #fff;
      width: 283px;
      margin: 0 auto; } }

@media screen and (min-width: 720px) {
  .arrow-icon {
    display: none; } }

.card-title {
  margin: 0;
  color: #323232;
  font-size: 19px; }
  @media screen and (min-width: 720px) {
    .card-title {
      font-size: 30px;
      color: #fff; } }

.line {
  width: 100%;
  height: 2px;
  opacity: 0.4;
  border: solid 1px #979797; }
  @media screen and (min-width: 720px) {
    .line {
      display: none; } }

/*# sourceMappingURL=style.css.map */
